.App {
  font-size: 16px;
}

h4 {
  margin-top: 15px;
}

.nav {
  margin-bottom: 30px;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.hide {
  display: none;
}

.btn {
  margin: 5px 10px;
}

.input {
  width: 800px;
  display: block;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .input {
    width: 70%
  }
}

